header {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid rgba(128, 128, 128, 0.171);

    .header-top-container {
        width: 100%;
        justify-content: center;
    }

    .header-bottom-container {
        justify-content: space-between;
        padding: 10px;
    }
}